body {
	background:white;
	font-family: calibri;
}

h1, h2{
	color: red;
}

a{
	color: blue;
}


.secondary {
	background: none;
	color: #555;
}
.links {
	background: light gray;
	color: #555;
	padding: 5px 0pm 5px 0px;
}

#special {
	background: #9999;
	color: #000;
}